@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* .notification-tab > .active {
    @apply text-blue-500 border-b-blue-500 hover:text-blue-500;
}
.order-tab > .active {
    @apply text-white bg-blue-500 hover:text-white;
}
.main.active {
    @apply md:w-full md:ml-0;
} */

.dimitrios{
    background: url('/public/img/cov.jpg') no-repeat center/cover fixed;
}


.mitrio{
    background-color: rgba(0, 0, 0, 0.753);
}

/* .authoma, .bars{
    background: url('/public/img/ims.jpg') no-repeat center/cover fixed;

} */

.bt{
    box-shadow: 5px 4px 15px black;
    transition: 0.5s;
}

.bt:active{
    transform: scale(1.3);
}

/* card */
.gui-container-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    width: inherit;
  }

  /* h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    animation: neon-glow 1s infinite alternate;
  } */

  @keyframes neon-glow {
    0% {
      text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.8);
    }
  }

  /* p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    animation: shadow-glow 1s infinite alternate;
  } */

  @keyframes shadow-glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    }
    100% {
      text-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 215, 0, 0.8), 0 0 25px rgba(255, 215, 0, 0.8);
    }
  }

  .cloud-box {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background: rgb(250, 222, 65);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: float 3s infinite ease-in-out;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .message {
    font-size: 1.8rem;
    color: black;
  }
/* column */
  .gui-container-welcome{
    background-color: white;
    border: 2px gray solid;
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }



.column {
    flex: 1;
    padding: 20px;
    
}



@media only screen and (max-width: 600px) {
    .gui-container-card {
        flex-direction: column;
    }
}


